body{
/*  font-family: 'Advent Pro', sans-serif; */
  font-family: 'Bodoni Moda', serif;
        margin: auto;
      /*  max-width: 1200px; */
        padding: 5em;
  padding-top: 3em;
  background: white;
 /* font-size: 16px;*/
  max-width: 1200px;
      }
	  
a {
  padding-left: 5px;
}

a:link {
  color: black;
  text-decoration: none;
}

/* visited link */
a:visited {
  color: darkseagreen;
}

/* mouse over link */
a:hover {
  text-decoration: underline;
}

/* selected link */
a:active {
  color: darkseagreen;
}

#top, #left, #right {
	background: darkseagreen;
	position: fixed;
  z-index:1;
	}
	#left, #right {
		top: 0; bottom: 0;
		width: 20px;
		}
		#left { left: 0; }
		#right { right: 0; }
		
	#top {
		left: 0; right: 0;
		height: 20px;
		}
		#top { top: 0; }
		#bottom { bottom: 0; }
		

*, *:before, *:after{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing:border-box;
  box-sizing: border-box;
}

.container{
  padding: 0;
  float: left;
  width: 50%;

}
@media screen and (max-width: 640px){
  .container{
    display: block;
    width: 100%;
  }
}

@media screen and (min-width: 900px){
  .container{
    width: 33.33333%;
  }
}

.container .title{
  color: #1a1a1a;
  text-align: center;
  margin-bottom: 10px;
}

.content {
  position: relative;
  width: 90%;
  max-width: 400px;
  margin: auto;
  overflow: hidden;
}

.content .content-overlay {
  background: rgba(0,0,0,0.7);
  position: absolute;
  height: 99%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.content:hover .content-overlay{
  opacity: 1;
}

.content-image{
  width: 100%;
}

.content-details {
  position: absolute;
  text-align: center;
  padding-left: 0em;
  padding-right: 0em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.content:hover .content-details{
  top: 50%;
  left: 50%;
  opacity: 1;
}

.content-details h3{
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.15em;
  margin-bottom: 0.5em;
  text-transform: uppercase;
}

.content-details p{
  color: #fff;
  font-size: 0.8em;
}

.fadeIn-bottom{
  top: 80%;
}

