ul {
  list-style: none;
  padding: 0em;
  display: flex;
}
li {
  border-left: 5px solid white;
  border-right: 5px solid white;
  background: #E8E8E8;
  flex: 1;
/*   white-space: nowrap; */
}
.divider
{
	position: relative;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	height: 1px;
}

.div-transparent:before
{
	content: "";
	position: absolute;
	top: 0;
	left: 1%;
	right: 1%;
	width: 95%;
	height: 1.5px;
	background-image: linear-gradient(to right, transparent, rgb(48,49,51), transparent);
}

body{
/*  font-family: 'Advent Pro', sans-serif; */
  font-family: 'Bodoni Moda', serif;
        margin: auto;
      /*  max-width: 1200px; */
        padding: 5em;
  padding-top: 3em;
      }

main{
	    padding-top: 0em;
		padding-left: 0;
		padding-right: 0;
        margin-left: auto;
  margin-right:auto;
		text-align:left;
		font-size: 20px;
/*     position: relative;
       left: 6%;  */
}

#demo3 .card {
  transition: all 0.2s ease-out;
}
#demo3 .card:hover {
  transform: scale(1.05);
  box-shadow: 0 3px 5px -2px rgba(0,0,0,.3);
  z-index: 999;
}


footer{
        font-family: 'Advent Pro', sans-serif;
        margin: 0;
        position: absolute;
        top: 75%;
        left: 35%;
        max-width: 900px;
        padding: 1em;
      }
/*       body{
        margin: auto;
        max-width: 700px;
        padding: 1em;
      } */

a {
  padding-left: 5px;
}

a:link {
  color: mediumseagreen;
  text-decoration: underline;
}

/* visited link */
a:visited {
  color: mediumseagreen;
}

/* mouse over link */
a:hover {
  color: lightgreen;
  text-decoration: underline;
}

/* selected link */
a:active {
  color: mediumseagreen;
}

#top, #left, #right {
	background: darkseagreen;
	position: fixed;
  z-index:1;
	}
	#left, #right {
		top: 0; bottom: 0;
		width: 20px;
		}
		#left { left: 0; }
		#right { right: 0; }
		
	#top {
		left: 0; right: 0;
		height: 20px;
		}
		#top { top: 0; }
		#bottom { bottom: 0; }
