body {
  font-family: 'Advent Pro', sans-serif;
        margin: auto;
        max-width: 900px;
  padding: 1em;
}
.row {
  display: flex;
}
.columnright {
  flex: 0 0 550px;
}

.column {
  padding: 0em;
}

.cardleft {
  border: 1px transparent;
  min-height: 550px;
  background: snow;
}
.cardright {
  border: 1px transparent;
  min-height: 550px;
  background: snow;
}

.cardleft,
.cardright,
.cover,
.content {
  padding: 2em;
  text-align: center;
}

.mySlides {
  @import "https://www.w3schools.com/w3css/4/w3.css"; 
  display:none;
  
}
