body {
/*  font-family: 'Advent Pro', sans-serif; */
  font-family: 'Bodoni Moda', serif;
        margin: auto;
        max-width: 900px;
  padding: 1em;
  background-color: lightgoldenrodyellow;
}
.row {
  display: flex;
}
.columnright {
  flex: 0 0 550px;
}

.column {
  padding: 0em;
}

.cardleft {
  border: 1px transparent;
  min-height: 500px;
  background: transparent;
}
.cardright {
  border: 1px transparent;
  min-height: 500px;
  background: transparent;
}

.cardleft,
.cardright,
.cover,
.content {
  padding: 2em;
  text-align: left;
  font-size: 20px;
  border: 1px transparent;
}

iframe {
  border: 1em transparent;
}
