<html lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1">
  <head>
    <title>Phoebe Lei Hei I</title>
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Bodoni+Moda&display=swap" rel="stylesheet">
<!--    <link href="https://fonts.googleapis.com/css2?family=Advent+Pro:wght@300;400&display=swap" rel="stylesheet"> -->
    <link href="/css/main.css" rel="stylesheet">
  </head>
  <body>
    <header>
<div id="left"></div>
<div id="right"></div>
<div id="top"></div>
<div id="bottom"></div>
		
<h style="font-size: 50px; margin-left: auto;" >Phoebe Lei</h><h style="font-size: 20px; float: right; display: in-line block;"><a href='/'>All</a> <a href='/work.html'>Work</a> <a href='/voice.html'>Voice</a> <a href='/life.html'>Life</a> <a href='/contact.html'>Contact</a></h>
   </header>
   <main>
   {{content}}
   <h6 style="text-align:center; color: black; font-size: 12px">Created by Lei Hei I.</h6>
   </main>
   </body>
<!--   
   <footer>
      Created by Lei Hei I.
   </footer> -->

</html>
