<html lang="en">
  <head>
    <title>Phoebe Lei Hei I</title>
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Bodoni+Moda&display=swap" rel="stylesheet">
<!--    <link href="https://fonts.googleapis.com/css2?family=Advent+Pro:wght@300;400&display=swap" rel="stylesheet"> -->
    <link href="/css/main.css" rel="stylesheet">
<!--     <style>
      body{
        font-family: 'Advent Pro', sans-serif;
        margin: auto;
        max-width: 700px;
        padding: 1em;
      }
/*       body{
        margin: auto;
        max-width: 700px;
        padding: 1em;
      } */
      
    </style> -->
  </head>
  <body>
    <header>
      <h1>Phoebe Lei</h1>
      <nav>
<!--         <a href='/'>Home</a> -->
        <a href='/about'>About</a>
        <a href='/'>Project</a>
        <a href='/activity'>Activity</a>
      </nav>
   </header>
   <main>
   {{content}}
   <h6 style="text-align:center; color: white; font-size: 8px">Created by Lei Hei I.</h6>
   </main>
   </body>
<!--   
   <footer>
      Created by Lei Hei I.
   </footer> -->

</html>
