<html lang="en">
  <head>
    <title>Phoebe Lei Hei I</title>
    <link href="https://fonts.googleapis.com/css2?family=Advent+Pro:wght@300;400&display=swap" rel="stylesheet">
    <link href="/css/post.css" rel="stylesheet">
<!--     <style>
      body{
        font-family: 'Advent Pro', sans-serif;
        margin: auto;
        max-width: 700px;
        padding: 1em;
      }
/*       body{
        margin: auto;
        max-width: 700px;
        padding: 1em;
      } */
      
    </style> -->
  </head>
 <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style>
.mySlides {display:none;}
</style>
  <body>
    <script>
var slideIndex = 1;
showDivs(slideIndex);

function plusDivs(n) {
  showDivs(slideIndex += n);
}

function showDivs(n) {
  var i;
  var x = document.getElementsByClassName("mySlides");
  if (n > x.length) {slideIndex = 1}
  if (n < 1) {slideIndex = x.length}
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";  
  }
  x[slideIndex-1].style.display = "block";  
}
</script>
    <header>
      <h1>Phoebe Lei</h1>
      <nav>
<!--         <a href='/'>Home</a> -->
        <a href='/about'>About</a>
        <a href='/'>Project</a>
        <a href='/activity'>Activity</a>
      </nav>
   </header>
   <main>
   {{content}}
   </main>
   <footer>
      Created by Lei Hei I.
   </footer>
   </body>
</html>

